<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NetFarmCommune.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8B0679C4789BDD9C4703FCE42C6B1B99724E4D19</string>
				<key>dateExpires</key>
				<string>2018/12/5</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B0679C4789BDD9C4703FCE42C6B1B99724E4D19</string>
						<key>dateExpires</key>
						<string>2018/12/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TXJP2HW2W</string>
						<key>name</key>
						<string>wei song</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B0679C4789BDD9C4703FCE42C6B1B99724E4D19</string>
						<key>dateExpires</key>
						<string>2018/12/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TXJP2HW2W</string>
						<key>name</key>
						<string>wei song</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B0679C4789BDD9C4703FCE42C6B1B99724E4D19</string>
						<key>dateExpires</key>
						<string>2018/12/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HUPhotoBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TXJP2HW2W</string>
						<key>name</key>
						<string>wei song</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B0679C4789BDD9C4703FCE42C6B1B99724E4D19</string>
						<key>dateExpires</key>
						<string>2018/12/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JSONModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TXJP2HW2W</string>
						<key>name</key>
						<string>wei song</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B0679C4789BDD9C4703FCE42C6B1B99724E4D19</string>
						<key>dateExpires</key>
						<string>2018/12/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TXJP2HW2W</string>
						<key>name</key>
						<string>wei song</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B0679C4789BDD9C4703FCE42C6B1B99724E4D19</string>
						<key>dateExpires</key>
						<string>2018/12/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TXJP2HW2W</string>
						<key>name</key>
						<string>wei song</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B0679C4789BDD9C4703FCE42C6B1B99724E4D19</string>
						<key>dateExpires</key>
						<string>2018/12/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TXJP2HW2W</string>
						<key>name</key>
						<string>wei song</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B0679C4789BDD9C4703FCE42C6B1B99724E4D19</string>
						<key>dateExpires</key>
						<string>2018/12/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TXJP2HW2W</string>
						<key>name</key>
						<string>wei song</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B0679C4789BDD9C4703FCE42C6B1B99724E4D19</string>
						<key>dateExpires</key>
						<string>2018/12/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDCycleScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TXJP2HW2W</string>
						<key>name</key>
						<string>wei song</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B0679C4789BDD9C4703FCE42C6B1B99724E4D19</string>
						<key>dateExpires</key>
						<string>2018/12/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TXJP2HW2W</string>
						<key>name</key>
						<string>wei song</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B0679C4789BDD9C4703FCE42C6B1B99724E4D19</string>
						<key>dateExpires</key>
						<string>2018/12/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TXJP2HW2W</string>
						<key>name</key>
						<string>wei song</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B0679C4789BDD9C4703FCE42C6B1B99724E4D19</string>
						<key>dateExpires</key>
						<string>2018/12/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TZImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TXJP2HW2W</string>
						<key>name</key>
						<string>wei song</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8TXJP2HW2W.com.NYN.NongyiNong</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8TXJP2HW2W</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>8TXJP2HW2W.com.NYN.NongyiNong</string>
				</array>
			</dict>
			<key>name</key>
			<string>NetFarmCommune.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ccba9926-7d01-4d7d-8d48-1a4c2709c86e</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.NYN.NongyiNong</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8TXJP2HW2W</string>
				<key>name</key>
				<string>wei song</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
